
		<!--<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>	-->
		
		<script src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
		<script src="__PUBLIC__/Admin/js/jquery.ajaxfileupload.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
		<script src="__PUBLIC__/Admin/js/jquery.form.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.gritter.min.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.validate.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.wizard.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.autogrow-textarea.js"></script>	
		<script src="__PUBLIC__/Admin/js/jquery.iphone.toggle.js"></script>			
		<script src="__PUBLIC__/Admin/js/unicorn.js"></script>		
		<script src="__PUBLIC__/Admin/js/unicorn.chat.js"></script>	
		<script src="__PUBLIC__/Admin/js/unicorn.tables.js"></script>
		<script src="__PUBLIC__/Admin/js/unicorn.form_common.js"></script>	
		<script src="__PUBLIC__/Admin/js/unicorn.form_validation.js"></script>
		<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script>	
		<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script>	
		<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>	
		<script src="__PUBLIC__/Admin/js/excanvas.min.js"></script>	
		<script src="__PUBLIC__/Admin/js/fullcalendar.min.js"></script>			
		<script src="__PUBLIC__/Admin/js/jquery.jBox-2.3.min.js"></script>
		<script src="__PUBLIC__/Admin/js/jbox/jquery.jBox-zh-CN.js"></script>	
		<script src="__PUBLIC__/Admin/js/bootstrap-select.min.js"></script>		
		<script src="__PUBLIC__/Admin/js/select2.min.js"></script>	
		<script src="__PUBLIC__/Admin/js/bootbox.js"></script>		
		<script src="__PUBLIC__/Admin/js/xhj.js"></script>	
		
		<script src="__PUBLIC__/Admin/js/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
		<script src="__PUBLIC__/Admin/js/fancybox/jquery.fancybox-1.3.1.js"></script>
		<script src="__PUBLIC__/Admin/js/fancybox/pngobject.js"></script>

{:R('Menu/wxmenu',array(''),'Widget')}
