<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file='Public:header' title='商品中心-商品列表' keywords="" description=""/>
</head>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<body>
<include file='Public:top'/>
<include file='Public:menu'/>
<div id="content">
    <div id="content-header">
        <h1>商品中心</h1>
    </div>
    <include file='Public:breadcrumb'/>
    <!--主要内容-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
		<span class="icon">
			<i class="icon-th-list"></i>
		</span>
                        <h5>商品列表<span style="color:red;"></span></h5>
                        <form method="post" action="" enctype="multipart/form-data">
                                 <h3>导入Excel表：</h3><input  type="file" name="file_stu" />
                                   <input type="submit"  value="导入" />
                        </form>
                        <div class="buttons">
                            <a title="新建商品" class="btn btn-mini" href="{:U('add')}"><i class="icon-plus"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="invoice-content">
                            <div class="alert alert-error hide" id="alert_info">
                                <button type="button" class="close" onclick="$('#alert_info').hide();">×</button>
                                <div class="alert-body"><span id="modal"></span></div>
                            </div>

                            <div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>商品编号</th>
                                        <th>商品名称</th>
                                        <th>条形码</th>
                                        <th>货品类别</th>
                                        <th>货品单位</th>
                                        <th>库存</th>
                                        <th>操作数目</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th colspan="9">
                                            <div class="pagination alternate">{$page}</div>
                                        </th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <volist name="list" id="vo">
                                        <tr id="list_data_{$vo.id}" class="center">

                                            <td>{$vo.good_num}</td>
                                            <td>{$vo.name}</td>
                                            <td>{$vo.tx_num}</td>
                                            <td>{$vo['sort_id'] | getSortName }</td>
                                            <td>{$vo.good_depart}</td>
                                            <td id="s{$vo['id']}">{$vo.stock}</td>
                                            <td><input type="text" style="width: 50px;" id="num{$vo['id']}" value="0">
                                            </td>
                                            <!--<td><div class="btn" onclick="minus({$vo['id']})"><i class="icon-minus"></i></div><input  id="s{$vo['id']}" type="text" value="{$vo.stock}" style="width: 50px;margin-bottom: 0px;" disabled><div class="btn" onclick="plus({$vo['id']})"><i class="icon-plus"></i></div></td>-->
                                            <td class="center">
                                                <a class="btn btn-info" onclick="saveStock({$vo['id']},1)">
                                                    <i class="icon-chevron-down icon-white"></i>
                                                    进货
                                                </a>
                                                <a class="btn btn-info" onclick="saveStock({$vo['id']},2)">
                                                    <i class="icon-chevron-up icon-white"></i>
                                                    出货
                                                </a>
                                                <!--<a class="btn btn-info" onclick="saveStock({$vo['id']})">-->
                                                <!--<i class="icon-edit icon-white"></i>-->
                                                <!--保存-->
                                                <!--</a>-->
                                                <a class="btn btn-info" href="{:U('edit?id='.$vo['id'])}">
                                                    <i class="icon-edit icon-white"></i>
                                                    编辑
                                                </a>
                                                <a class="btn btn-danger" data-toggle="modal" href="#static"
                                                   onclick="$('#del_mid').val({$vo.id});">
                                                    <i class="icon-trash icon-white"></i>
                                                    删除
                                                </a>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <!--主要内容end-->
        <include file='Public:copyright'/>
    </div><!--end content-->

    <div id="static" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-body">
            <p>确认删除当前信息？</p>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">取消</button>&nbsp;
            <input name="del_mid" id="del_mid" type="hidden" value=""/>
            <button type="button" data-dismiss="modal" class="btn btn-primary" onclick="del();">确认</button>
        </div>
    </div>

    <include file='Public:footer'/>

    <script language="JavaScript">
        <!--
        function del() {
            var mid = $('#del_mid').val();
            $('#alert_info').hide();
            $.ajax({
                type: 'POST',
                url: "{:U('Goods/del')}",
                data: {id: mid},
                dataType: "json",
                success: function (json) {
                    console.log(json)
                    if (json.status == 1)
                        $('#list_data_' + mid).hide();
                    $('#alert_info').show();
                    $('#modal').html('<font style="font-family:Arial;font-size:12px;color:#c3413f">' + json.info + '</font>');
                }

            });
        }

        function saveStock(id, type) {
            //当前库存量
            var stock = Number($('#s' + id).text());
            //操作的库存量
            var num = Number($('#num' + id).val());
            if (type == 2) {
                //判断减去的数是否大于库存数
                if (num > stock) {
                    alert('库存不足，操作失败')
                    return
                }
            }
            $.ajax({
                type: 'POST',
                url: "{:U('Goods/saveStock')}",
                data: {id: id, num: num, type: type},
                dataType: "json",
                success: function (json) {

                    if (json.status == 1)
                        if (type == 1) {
                            $('#s'+id).text(stock+num);
                        }else if(type == 2){
                            $('#s'+id).text(stock-num);
                        }
                    $('#alert_info').show();
                    $('#modal').html('<font style="font-family:Arial;font-size:12px;color:#c3413f">' + json.info + '</font>');

                }

            });
        }

        function minus(id) {
            if ($('#s' + id).val() < 1) {
                alert('库存不足');
                return
            }
            $('#s' + id).val($('#s' + id).val() - 1);
            $.ajax({
                type: 'POST',
                url: "{:U('Goods/changeStock')}",
                data: {id: id, act: 'minus'},
                dataType: "json",
                success: function (json) {
                    console.log(json)
                    if (json.status == 1)
                        $('#alert_info').show();
                    $('#modal').html('<font style="font-family:Arial;font-size:12px;color:#c3413f">' + json.info + '</font>');
                }

            });
        }

        function plus(id) {
            $('#s' + id).val(Number($('#s' + id).val()) + 1);
            $.ajax({
                type: 'POST',
                url: "{:U('Goods/changeStock')}",
                data: {id: id, act: 'plus'},
                dataType: "json",
                success: function (json) {
                    console.log(json)
                    if (json.status == 1)
                        $('#alert_info').show();
                    $('#modal').html('<font style="font-family:Arial;font-size:12px;color:#c3413f">' + json.info + '</font>');
                }

            });
        }

        $("#role").val("{$Think.get.role}");
        $('.selectpicker').selectpicker('refresh');
        //-->
    </script>


</body>
</html>